body {
    font-family: "Lato", sans-serif;
    box-shadow:3px 3px 6px black;
    background-color: gray;
}

#container {

}

#logo {

}

#menu {

}

#topbar {

}

#sidebar {

}

#content {

}

#footer {

}

